<div class="container">
  <div *ngIf="!qcmStarted && !isFinished" class="flex flex-col justify-center items-center">
    <p class="text-center font-bold text-2xl">Questionnaire de diagonistique Psychologique</p>
    <button (click)="startQcm()" type="button" class="button-purple">Commencer le Questionnaire</button>
  </div>


  <form class="card text-gray-600 p-5" *ngIf="!isFinished && qcmStarted" (ngSubmit)="goToNextQuestion()">
    <p class="fw-bold text-2xl text-center">Question {{currentQuestionIndex + 1 }}: {{diagnosticQuestions[currentQuestionIndex].questionText}}</p>

    <div class="my-2" *ngFor="let option of diagnosticQuestions[currentQuestionIndex].options">
      <div class="form-check">
        <input class="form-check-input" type="radio" [value]="option"
               [(ngModel)]="myResponses[currentQuestionIndex]"
               name="option" id="option{{option}}">
        <label class="form-check-label ms-5" for="option{{option}}">{{option}}</label>

      </div>
    </div>

    <div class="mt-3">
      <a class="button-purple me-2 cursor-pointer" (click)="goToPreviousQuestion()">⏮️ Question Précédente</a>
      <button type="submit" class="button-purple">
        {{ currentQuestionIndex + 1 < totalQuestions ? "Question suivante ⏭️" : "Terminer le QCM" }}
      </button>

    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 place-items-center gap-1">
      <div *ngFor="let myResponse of myResponses let i = index" class="parent-div mt-3">
        <span (click)="goToQuestion(i)" class="ms-1 cursor-pointer p-5"
              [ngClass]="!myResponse ? 'alert badge-red' : 'badge-green'"
              [ngStyle]="{ 'border': i === currentQuestionIndex ? '2px solid black' : '' }">
          Question {{i + 1}}
        </span>
      </div>
    </div>
    <em class="badge-indigo mt-10"><b>NB</b> : Les questions qui sont répondues apparaissent en bleu (il es biensur possible de modifier leurs valeurs)</em>
  </form>


  <div *ngIf="isFinished" class="flex flex-col justify-center items-center">
    <p class="text-2xl">Résultats :</p>
    <button (click)="sendResponses()" class="button-purple">Envoyer résultat</button>

  </div>


</div>
