<div class="container mx-auto font-sans flex flex-col items-center justify-center">
  <p class="text-3xl">Diagnostic de {{diagnosis?.patient?.firstname}} {{diagnosis?.patient?.lastname}}</p>
  <div class="rounded-lg border-2 mt-10 border-purple-600 w-full lg:w-8/12 mx-auto h-auto">
    <div class="bg-purple-600 text-center rounded-t-lg py-2 text-xl font-bold">
      <p>Dr. {{diagnosis?.doctor?.lastname}} {{diagnosis?.doctor?.firstname}}</p>
      <h2 class="text-sm font-normal text-gray-600">Diagnostiqué le {{diagnosis?.diagnosisDate | date}}</h2>
    </div>

    <div class="p-3">
      <p class="mb-3 bg-purple-500 rounded p-2">Réponse du médecin : {{diagnosis?.diagnosisResponse}}</p>

      <div class="border-gray-500 rounded border p-5">
        <p>Traitements :</p>
        <ul >
          <li *ngFor="let treatment of diagnosis?.treatments">- {{treatment.name}}</li>
        </ul>
      </div>


    </div>
  </div>


  <section class="w-full lg:w-8/12 border-2  rounded-t-lg  border-purple-600 my-20">
    <section class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> Messagerie
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </section>
    <section class="msger bg" #msger>
      <ng-container *ngIf="messages.length>0; else noMessage">
        <div *ngFor="let message of messages" class="msger-chat">
          <div *ngIf="message.authorFirstname === myInformations?.firstname" class="msg left-msg">
            <div class="msg-bubble bg-purple-400">
              <div class="msg-info pb-5 text-white">
                <div class="msg-info-name first-letter:font-bold">Vous</div>
                <div class="msg-info-time">12:45</div>
              </div>
              <div class="msg-text">
                {{message.content}}
              </div>
            </div>
          </div>

          <div *ngIf="message.authorFirstname !== myInformations?.firstname" class="msg right-msg">
            <div class="msg-bubble bg-purple-500">
              <div class="msg-info pb-5 text-white">
                <div class="msg-info-name">{{message.authorFirstname}}</div>
                <div class="msg-info-time">12:46</div>
              </div>

              <div class="msg-text">
                {{message.content}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noMessage>
        <span class="badge-indigo">Aucun message n'a été trouvé pour cette discussion ...</span>
      </ng-template>
    </section>
    <form (ngSubmit)="sendMessage()" class="msger-inputarea text-gray-600">
      <input type="text" [(ngModel)]="newMessageContent" name="message" class="msger-input" placeholder="Entrez votre message...">
      <button type="submit" class="msger-send-btn">Envoyer</button>
    </form>
  </section>


  </div>
