<section class="md:container mx-auto p-16 dark:bg-gray-900 dark:text-white" id="panel">
  <p class="text-3xl mb-4">Pannel Docteur</p>

  <!-- Nouveaux Patients -->
  <h2 class="text-xl mb-2">Nouveaux Patients :</h2>
  <div class="relative overflow-x-auto">
    <table class="w-full table-auto text-sm text-gray-500 dark:text-gray-400 mb-5">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="px-4 py-2">Patient</th>
        <th class="px-4 py-2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let diag of listDiagnosis" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-4 py-2 font-medium whitespace-nowrap">
          {{ diag.patient.firstname }} {{ diag.patient.lastname }}
        </td>
        <td class="px-4 py-2">
          <button (click)="onButtonClick(diag.id)"
                  class="button-purple text-white font-bold py-1 px-3 rounded">
            Diagnostiquer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- My patients -->
  <h2 class="text-xl mb-2">My patients</h2>
  <div class="relative overflow-x-auto">
    <table class="w-full table-auto text-sm text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="px-4 py-2">Patient</th>
        <th class="px-4 py-2">Date</th>
        <th class="px-4 py-2">Conclusion</th>
        <th class="px-4 py-2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mydiag of myPatients" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-4 py-2 font-medium whitespace-nowrap">
          {{ mydiag.patient.firstname }} {{ mydiag.patient.lastname }}
        </td>
        <td class="px-4 py-2">
          {{ mydiag.diagnosisDate }}
        </td>
        <td class="px-4 py-2">
          {{ mydiag.diagnosisResponse }}
        </td>
        <td class="px-4 py-2">
          <button [routerLink]="['/diagnosis', mydiag.id]"
                  class="button-purple text-white font-bold py-1 px-3 rounded">
            Détails / Discuter avec le patient
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
