@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
html{
  height: 100%;
  min-height: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  margin:0;
  min-height: 100vh;
}


.green-snackbar {
  color: white;
  font-weight: bold !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.red-snackbar {
  color: white;
  font-weight: bold !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.green-snackbar button {
  background-color: rgb(10, 132, 7);
  color: white !important;
  border: none;
  font-weight: bold;
}


.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}
.mat-mdc-snack-bar-label mdc-snackbar__label {
  font-weight: bold !important;
}


/* MY PERSO CSS */

.card{
  @apply flex items-center justify-center flex-col bg-gray-100 border-2 border-gray-200 rounded-xl py-5;
}

.button-blue{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.button-red{
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
}

.button-green{
  @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded;
}

.button-yellow{
  @apply bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded;
}

.button-purple{
  @apply bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded;
}

.button-pink{
  @apply bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded;
}

.button-indigo{
  @apply bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded;
}

.button-gray{
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
}

.button-black{
  @apply bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
}

.button-white{
  @apply bg-white hover:bg-gray-700 text-black font-bold py-2 px-4 rounded;
}

.button-orange{
  @apply bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded;
}

.button-teal{
  @apply bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded;
}

.button-cyan{
  @apply bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded;
}

.button-lime{
  @apply bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded;
}

.button-amber{
  @apply bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded;
}

.badge-default {
  @apply bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-blue-900 dark:text-blue-300;
}

.badge-dark {
  @apply bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-gray-700 dark:text-gray-300;
}

.badge-red {
  @apply bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-red-900 dark:text-red-300;
}

.badge-green {
  @apply bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-green-900 dark:text-green-300;
}

.badge-yellow {
  @apply bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-yellow-900 dark:text-yellow-300;
}

.badge-indigo {
  @apply bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-indigo-900 dark:text-indigo-300;
}

.badge-purple {
  @apply bg-purple-100 text-purple-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-purple-900 dark:text-purple-300;
}

.badge-pink {
  @apply bg-pink-100 text-pink-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
  @apply dark:bg-pink-900 dark:text-pink-300;
}


.container{
  @apply mx-auto p-5 md:p-20;
}


.form {
  @apply w-full md:w-9/12 lg:w-6/12 xl:w-4/12 m-5 md:m-20 bg-gray-100 border-2 border-gray-200 rounded-xl p-5 md:p-10
}
.form-group{
  @apply mb-6;
}

.form-control{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5;
}

.form-label{
  @apply block mb-2 text-sm font-medium text-gray-900;
}

.accordion-header{
  @apply flex items-center justify-between p-5 w-full text-gray-500 border rounded-tl-2xl rounded-tr-2xl border-gray-200 hover:bg-gray-100 hover:ring-gray-300 focus:ring-4 focus:ring-gray-300 focus:outline-none;
}


.accordion-body{
  @apply flex items-center justify-start p-5 border rounded-br-2xl rounded-bl-2xl border-gray-200 dark:border-gray-700 dark:bg-gray-900
}
